{{define "header"}}
<div class="columns is-mobile">
  <div class="column is-5-tablet is-8-mobile" style="overflow-x:hidden;">
    <div class="columns is-mobile is-gapless">
      <div class="column is-narrow" style="display:flex;align-items:center;height:60px;margin-right:10px">
        <a href="/" rel="Homepage" class="has-text-black">
          <svg id="arcad-logo">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div>
      <div class="column is-narrow" style="display:flex;align-items:center;height:60px;">
        <h1 id="arcad-title" class="is-size-1 title"><a href="/" rel="Homepage" class="has-text-black">arcad</a></h1>
      </div>
    </div>
  </div>
  <div class="column is-2-tablet is-offset-5-tablet is-4-mobile header-buttons">
    <div class="buttons" style="justify-content:flex-end">
      {{if .IsAdmin}}
      <a href="/admin/logout" class="button is-warning is-medium">
        <svg class="icon">
          <use xlink:href="#sign-out-alt"></use>
        </svg>
      </a>
      {{end}}
      <a href="/profile" class="button is-link is-medium">
        <svg class="icon">
          <use xlink:href="#user"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
{{end}}