body {
  padding: 10px;
}

.app-wrapper {
  display:flex;
  height:100%;
  width:100%;
  flex-direction:column;
}

.app-header {
  padding: 7px;
  flex-grow: 0;
}

.app-frame {
  background: #F7F7F7;
  width: 100%;
  border: none;
  flex-grow: 1;
  overflow: hidden;
}

.app-frame::-webkit-scrollbar {
  display: none;
}