html, body {
  height: 100%;
  padding: 0 !important;
}

.has-margin-top-small {
  margin-top: 1rem;
}

.has-margin-bottom-small {
  margin-bottom: 1rem;
}

.is-fullheight {
  height: 100%;
}

.is-wrap {
  flex-wrap: wrap;
}

.icon {
  width: 1em;
  height: 1em !important;
  vertical-align: -.125em;
  fill: currentColor;
}