$arcad-logo-height: 60px !default;
$arcad-logo-width: 60px !default;

#arcad-logo {
    height: $arcad-logo-height;
    width: $arcad-logo-width;
    fill: $black;
}

$arcad-title-font-family: Comfortaa, cursive !default;

#arcad-title {
    font-family: $arcad-title-font-family;
}

.header-buttons {
    align-items: center;
    justify-content: flex-end;
    display: flex;
}