/* Coolors Exported Palette - coolors.co/2d3949-43638e-d3deed-436fa8-4793f7 */

// $color1: rgba(17, 35, 58, 1);
// $color2: rgba(67, 99, 142, 1);
// $color3: rgba(211, 222, 237, 1);
// $color4: rgba(67, 111, 168, 1);
// $color5: hsla(214, 92%, 62%, 1);

// $arcad-darkest: lighten($color3, 20%);
// $arcad-dark: lighten($color3, 10%);
// $arcad-medium: $color5;
// $arcad-light: $color2;
// $arcad-lightest: lighten($color1, 20%);