.podium-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .podium {
        display: flex;
        align-items: flex-end;

        $podBaseSize: 120px;

        .pod {
            width: $podBaseSize;
            overflow: hidden;

            .pod-stair {
                background-color: $info;
                border: 1px solid $body-background-color;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: $radius $radius 0 0;
            }

            &.first .pod-stair {
                height: $podBaseSize;
                width: $podBaseSize;

                .pod-position {
                    font-size: 200%;
                }
            }
            &.second .pod-stair {
                height: $podBaseSize * 0.6;
                width: $podBaseSize;

                .pod-position {
                    font-size: 150%;
                }
            }
            &.third .pod-stair {
                height: $podBaseSize * 0.3;
                width: $podBaseSize;
            }

            .pod-position {
                font-size: 100%;
                font-weight: bolder;
                color: #fff;
            }

            .pod-player {
                text-align: center;
                margin-bottom: 20px;

                .player-crown {
                    fill: $yellow;
                    height: 3rem !important;
                    width: 3rem;
                }
                .player-nickname {
                    display: block;
                    font-weight: bolder;
                    font-size: 1.5rem;
                    width: $podBaseSize;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding: 0 5px 0 5px;
                }
                .player-score {
                    display: block;
                    font-weight: bolder;
                    font-size: 1rem;
                }
            }
        }
    }
}