@charset 'utf-8';

// @import 'palette';

// $black:        $arcad-darkest;
// $black-bis:    lighten($arcad-darkest, 10%);
// $black-ter:    lighten($arcad-darkest, 20%);
// $grey-darker:  darken($arcad-dark, 20%);
// $grey-dark:    darken($arcad-dark, 10%);
// $grey:         $arcad-dark;
// $grey-light:   lighten($arcad-dark, 10%);
// $grey-lighter: lighten($arcad-dark, 20%);
// $grey-lightest: $arcad-light;

// $white-ter:    darken($arcad-lightest, 20%);
// $white-bis:    darken($arcad-lightest, 10%);
// $white:        $arcad-lightest;

// $medium-saturation: saturation($arcad-medium);
// $medium-lightness: 45%;

// $orange:       hsla(30, $medium-saturation, $medium-lightness, 1);
// $yellow:       hsla(55, $medium-saturation, $medium-lightness, 1);
// $green:        hsla(100, $medium-saturation, $medium-lightness, 1);
// $turquoise:    hsla(170, $medium-saturation, $medium-lightness, 1);
// $cyan:         hsla(185, $medium-saturation, $medium-lightness, 1);
// $blue:         hsla(215, $medium-saturation, $medium-lightness, 1);
// $purple:       hsla(290, $medium-saturation, $medium-lightness, 1);
// $red:          hsla(0, $medium-saturation, $medium-lightness, 1);

// $box-shadow-color: darken($arcad-lightest, 10%);

// .button:not(.is-inverted),
// .notification,
// .message,
// .file,
// .image {
//     box-shadow: 2px 2px $box-shadow-color;
// }

// .box,
// .has-no-shadow {
//     box-shadow: none !important;
// }

// .title {
//     text-shadow: 1px 1px $box-shadow-color;
// }

// .table td {
//     border: none !important;
// }

// .section {
//     padding: 1.5rem 1.5rem !important;
// }

// .input, .textarea, .select select {
//     background-color: $black !important;
//     color: $color1 !important;
// }

// // Import Bulma

@import "~bulma/bulma";
@import "~bulma-switch";