// tiles variables

.tile-container {
  perspective: 10000px;
}

.app-tile {

  max-height: 180px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;

  &.has-back-visible {
    transform: rotateX(180deg);
  }
  
  .front, .back {
    padding-right: 1.5rem;
    backface-visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .front {
    z-index: 2;
    transform: rotateX(0deg);
  
    .title {
      @extend .is-family-secondary;
      font-weight: bold;
    }
  }

  .back {
    transform: rotateX(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}