{{define "title"}}Installer une application - Administration - Arcad{{end}}
{{define "body"}}
<section class="home is-fullheight section" data-controller="app-install">
  <div class="container">
    {{template "header" .}}
    <div class="columns">
      <div class="column is-2">
        {{template "admin_menu" "market"}}
      </div>
      <div class="column is-10">
        {{template "flash" .}}
        {{if .App}}
          <article class="message is-info">
            <div class="message-header">
              <p>Installation d'une application</p>
            </div>
            <div class="message-body">
              <p data-target="app-install.message">Êtes vous sûr de vouloir installer l'application <code>{{ .App.Name }}</code> en version <code>{{ .App.LatestRelease.Version }}</code> développée par <b>{{ .App.Owner.Username }}</b> ?</p>
              <div class="buttons is-right">
                <a data-target="app-install.cancelButton" href="/admin/market" class="button is-outlined is-link">Annuler</a>
                <button data-target="app-install.installButton" data-action="click->app-install#onInstallClick" class="button is-primary">Confirmer</a>
              </div>
            </div>
          </article>
        {{else}}
          <article class="message is-danger">
            <div class="message-body">
              Impossible de trouver l'application correspondant à la demande d'installation.
              <div class="buttons is-right">
                <a href="/admin/market" class="button is-outlined is-danger">Retour</a>
              </div>
            </div>
          </article>
        {{end}}
      </div>
    </div>
    {{template "footer" .}}
  </div>
</section>
{{end}}

{{define "body_script"}}
<script defer src="/admin.js"></script>
{{end}}

{{template "base" .}}