{{define "title"}}Accueil - Arcad{{end}}
{{define "body"}}
<section class="home is-fullheight section">
  <div class="container">
    {{template "header" .}}
    {{if and .WelcomeMessage .WelcomeMessage.Value}}
    <div class="message is-info is-small">
      <div class="message-body">
        <div class="content">
          {{markdown .WelcomeMessage.Value}}
        </div>
      </div>
    </div>
    {{end}}
    <div class="tile is-ancestor is-wrap tile-container">
      {{range .Apps}}
        {{- template "app_tile" . -}}
      {{end}}
    </div>
    {{template "footer" .}}
  </div>
</section>
{{end}}
{{template "base" .}}
